.container {
    display: flex;
    width: 50%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
}
#locationteksti {
    text-align: center;
}