.container {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
}
#isokarttateksti {
    font-size: 17px;
    margin-top: 0px;
    margin-bottom: 10px;
}
button {
    font-size: 17px;
    margin-top: 10px;
    padding: 4px 8px;
    border-radius: 10px;
    font-weight: bold;
}
#kartta {
    max-width: 100%;
    width: 425px;
    height: 350px;
    border-radius: 8px;
    margin: 20px 0;
    border: 1px solid #ddd;
}
p {
    font-size: 20px;
    margin: 8px 0px;
}
p, h1 {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
    text-align: center;
}
#ohje {
    margin: 10px 0px;
}
#tekstit {
    margin: 5px 0px;
}
.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    display: none;
    margin: 10px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}