.container {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
}
#locationteksti {
}
#isokarttateksti, button {
    font-size: 17px;
    margin: 7px 0px;
}
#kartta {
    max-width: 100%;
    width: 425px;
    height: 350px;
}
p {
    font-size: 20px;
    margin: 10px 0px;
    text-align: center;
}
p, h1 {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
}