.container {
    display: flex;
    width: 100%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
}
#locationteksti {
    text-align: center;
}
#isokarttateksti {
    font-size: 18px;
    margin: 8px 0px;
}
#kartta {
    max-width: 100%;
    width: 425px;
    height: 350px;
}
p {
    font-size: 22px;
    margin: 10px 0px;
}
